# Frontend
/frontend/build/
/frontend/node_modules/
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

# Backend
/backend/node_modules/
/backend/.env
/backend/storage/*.key
/backend/storage/*.pem
/backend/storage/oauth-private.key
/backend/storage/oauth-public.key
/backend/storage/logs/*.log
/backend/vendor/

# Deployment
.vercel
.railway

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db
